.brand {
  font-weight: bold;
  font-size: 20px;
}

.site-header {
  position: relative;
  background-color: #fafafa;
}

.site-header__wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nav__item a {
  display: block;
  padding: 1.5rem 1rem;
  color: #737373;
  font-weight: 700;
}

.item-button {
  padding: 1rem;
  display: none;
}

.nav__toggle {
  display: none;
}

.button__wrapper {
  display: block;
}

/* .hero {
}

.hero__wrapper {
} */

.hero__wrapper-upper {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.hero__wrapper-upper-left,
.hero__wrapper-upper-right {
  width: 50%;
}

.hero__wrapper-upper-left-section_title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #96bb7c;
  margin-bottom: 25px;
}

.hero__wrapper-upper-left-subtitle {
  font-size: 58px;
  line-height: 80px;
  font-weight: 700;
  color: #252b42;
}

.hero__wrapper-upper-left-slogan {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #737373;
  margin-bottom: 25px;
}

.container {
  position: relative;
  width: 95%;
}
.student-background-image {
  width: 250px;
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.blob {
  position: absolute;
  background-color: #fff;
  width: inherit;
  z-index: 1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.blob:nth-child(2) {
  filter: blur(5px);
  z-index: 2;
}

.hero__wrapper-lower {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 1rem;
}

.feature {
  padding: 2rem;
  background-color: #fafafa;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.feature__container {
  display: flex;
  flex-direction: column;
}

.feature__container-icon {
  color: #fff;
}

.feature-icon {
  background-color: #e74040;
  border-radius: 50%;
  font-size: 28px;
  padding: 8px 10px;
}

.feature__container-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
}

.feature__container-title::after {
  content: "";
  display: block;
  width: 25%;
  height: 2px;
  background-color: #e74040;
  margin: 10px 0;
}

.feature__container-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

@media (max-width: 599px) {
  .nav__toggle {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
    border: none;
    background-color: transparent;
  }

  .item-button {
    display: block;
  }

  .button__wrapper {
    display: none;
  }

  .nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 5;
    background-color: #fafafa;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
  .nav__wrapper.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.extra {
  margin: 5rem 0;
}

.extra__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.extra__container-item-top {
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  color: #96bb7c;
}

.extra__container-item-bottom {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #252b42;
}

.extra__container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 600px) {
  .site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .nav__wrapper {
    display: flex;
  }
}

@media (max-width: 660px) {
  .hero__wrapper-upper-left,
  .hero__wrapper-upper-right {
    width: 100% !important;
  }

  .hero__wrapper-upper-right {
    height: 265px;
  }
  .hero__wrapper-upper-left-subtitle {
    font-size: 50px;
    line-height: 60px;
  }
  .hero__wrapper-upper {
    flex-direction: column;
  }

  .container {
    position: static !important;
    width: 100%;
  }

  .hero__wrapper-lower {
    flex-direction: column;
  }

  .extra__container {
    flex-direction: column;
    gap: 20px;
  }

  .extra__container-item-top {
    font-size: 46px;
  }
}
